body {
  --text_white: #f7f7ff;
  --text_black: #143642;
  --bg_white: #f7f7ff;
  --bg_black: black;
  --btn_white: #f7f7ff;
  background-color: #c6c8ee;
  --book_colour: #6a0136;
  --redish: #e26d5a;
}
h1 {
  margin-top: -0.5em;
}
/* START OF BOOK */
.book {
  transform-style: preserve-3d;
  position: relative;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  display: flex;
  margin: 7em 10%;
  --habit_columns: 3;
  border-radius: 0.5em;
  min-height: 810px;
}

.front,
.right_page,
.right_mid,
.right_last {
  transform-style: preserve-3d;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  transform-origin: left center;
  transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
}
.back,
.left_page,
.left_mid,
.left_last {
  transform-style: preserve-3d;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: right center;
  transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
}

.front {
  transform: rotateY(-10deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}
.right_mid {
  transform: rotateY(-12deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  background-color: var(--bg_white);
  width: 50%;
}
.right_last {
  transform: rotateY(-14deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  background-color: var(--bg_white);
  width: 50%;
}
.right_page {
  transform: rotateY(-16deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  /* background-color: var(--bg_white); */
}

.left_page {
  transform: rotateY(22deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  /* background-color: var(--bg_white); */
}
.left_mid {
  transform: rotateY(18deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  background-color: var(--bg_white);
  width: 50%;
}
.left_last {
  transform: rotateY(14deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  background-color: var(--bg_white);
  width: 50%;
}
.back {
  transform: rotateY(10deg) scale(1.1);
}

.front,
.back {
  width: 50%;
  background-color: var(--book_colour);
  z-index: -1;
}

.back,
.left_page,
.left_mid,
.left_last {
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

.front,
.right_page,
.right_mid,
.right_last {
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}

/* END OF BOOK */

.book_page {
  width: 50%;
}

.card {
  background-color: var(--redish);
  color: var(--text_white);
  margin: 1rem;
  padding: 1rem;
  position: relative;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 90%;
  cursor: pointer;
  border-radius: 16px;
}
.card_child {
  margin-right: 2em;
}

.left_page {
  border-right: 0.2em var(--bg_black) solid;
}
.right_page {
  border-left: 0.2em var(--bg_black) solid;
  overflow: auto;
}

.left_page,
.right_page {
  background-color: white;
}
::-webkit-scrollbar {
  border-radius: 50%;
}

.habits_wrapper {
  display: grid;
  grid-template-columns: repeat(var(--habit_columns), 1fr);
  justify-items: center;
  margin-bottom: 2em;
  padding: 1em;
}

/* Style when the subtask has been complete */
.sub_done {
  color: aliceblue;
}

/* Style when the subtask is incomplete */
.sub_incomplete {
  color: red;
}

/* Style when the habit is complete */
.habit_complete {
  background-color: #7b9e89;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-family: "Lobster", cursive;
  color: #4a0026;
}

.right_title,
.left_title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5em;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-decoration-thickness: 3px;
}

.frequency_section {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  right: 0px;
  margin: 12.5px 10px;
  height: 275px;
  justify-content: space-between;
}
.f_day {
  text-align: center;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active_day {
  background-color: var(--bg_white);
  color: var(--text_black);
  border-radius: 50%;
}
.add_sub_btn {
  cursor: pointer;
}
.btn {
  background: none;
  border: none;
  background-color: var(--btn_white);
  color: var(--text_black);
  cursor: pointer;
  font-family: inherit;
}
.delete_btn {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.card_btns {
  margin-top: auto;
  display: flex;
  width: calc(100% - 40px);
  justify-content: space-around;
}

.habit_btn {
  font-family: inherit;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.card_content {
  margin-top: 1em;
}

.add_div {
  font-size: 11rem;
  display: flex;
  text-align: center;
}

#newHabitForm {
  padding: 4em;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  font-size: larger;
}

#newHabitName,
.subHabitName {
  border: none;
  border-bottom: 2px solid lightgray;
  font-weight: bold;
  padding: 0 0 0.5em 0.5em;
  margin: 1em 0 2em 0;
}

#newHabitName:focus,
.subHabitName:focus {
  outline: none;
  border-bottom: 2px solid #4a0026;
}

.subHabitName:focus {
  border-bottom: 3px solid #4a0026;
}
.subHabitName {
  border-bottom: 3px solid lightgray;
}

.subHabitName {
  margin-bottom: 0;
  width: 100%;
}

.sub_wrap {
  padding: 0.25em 0;
  display: flex;
  position: relative;
}

.rm_subhabit {
  text-transform: capitalize;
  background: none;
  border: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  cursor: pointer;
  font-weight: bold;
}

.days {
  display: none;
}

.days:checked + .f_day {
  background-color: var(--bg_black);
  color: var(--text_white);
  border-radius: 50%;
}
.left_page .f_day {
  cursor: pointer;
}
.f_container {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}

.f_block,
.sub_section {
  padding: 1em 0;
}

.form_control {
  display: flex;
  flex-direction: column;
}

.lh_btn {
  margin: 2em 0.5em;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: inherit;
  background-color: var(--bg_black);
  color: var(--text_white);
}
@media screen and (max-width: 1686px) {
  .book {
    --habit_columns: 2;
  }
}

@media screen and (max-width: 1180px) {
  .book {
    --habit_columns: 1;
  }
}

@media screen and (max-width: 1000px) {
  * {
    transition: none !important;
    transform: none !important;
  }
  .book {
    --habit_columns: 3;
    position: relative;
  }
  h1 {
    margin-top: -0.25em;
  }
  .right_page {
    height: 100%;
    width: 100%;
    border-left: none;
    border-radius: 0px;
    position: relative !important;
    border-radius: 20px;
  }
  .back,
  .left_page,
  .left_mid,
  .left_last,
  .front,
  .right_mid,
  .right_last {
    display: none;
  }
  .habits_wrapper {
    background-color: white;
  }

  .show_me {
    display: block;
  }
  .hide_me {
    display: none;
  }
  .left_page {
    border-right: none;
    border-radius: 0px;
    z-index: 1;
    border-radius: 20px;
  }
  .book_page {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .book {
    --habit_columns: 2;
  }
}
@media screen and (max-width: 600px) {
  .book {
    --habit_columns: 1;
  }
  .logout_btn {
    font-size: 1rem;
  }
}
