body {
  background-color: #ffc3aa;
}
#logo {
  height: 50px;
  width: 50px;
}

#login_book {
  background-color: rgb(206, 7, 7);
  width: 60px;
  height: 180px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -118px;
  margin-left: -65px;
  display: flex;
}

#login_book_top {
  background-color: rgba(255, 255, 255, 0.408);
  height: 15px;
  width: 60px;
  margin-top: 40px;
  display: block;
  position: fixed;
}

#login_book:hover {
  position: relative;
  top: 0;
  transition: top ease 10s;
  background-color: rgb(28, 239, 250); 
  margin-top: 150px;
}

#login_book_bottom {
  background-color: rgba(255, 255, 255, 0.408);
  height: 15px;
  width: 60px;
  padding: 10px;
  display: block;
  position: fixed;
  margin-top: 140px;
}

#signup_book {
  background-color: rgb(21, 21, 108);
  width: 50px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: 26px;
  /* display: flex; */
}

#signup_book_top {
  background-color: rgba(255, 255, 255, 0.408);
  height: 15px;
  width: 50px;
  margin-top: 40px;
  display: block;
  position: fixed;
}

#signup_book_bottom {
  background-color: rgba(255, 255, 255, 0.408);
  height: 15px;
  /* height: 30px; */
  width: 50px;
  padding: 10px;
  display: block;
  position: fixed;
  margin-top: 140px;
}

#signup_book:hover {
  position: relative;
  top: 0;
  transition: top ease 10s;
  background-color: rgb(28, 239, 250);
  margin-top: 130px;
}

#extra_book {
  background-color: rgb(55, 152, 59);
  width: 25px;
  height: 210px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: 0px;
  /* display: flex; */
}

#extra_book_top {
  background-color: rgba(255, 255, 255, 0.408);
  height: 15px;
  width: 25px;
  margin-top: 40px;
  display: block;
  position: fixed;
}

#extra_book_bottom {
  background-color: rgba(255, 255, 255, 0.408);
  height: 15px;
  /* height: 30px; */
  width: 25px;
  padding: 10px;
  display: block;
  position: fixed;
  margin-top: 170px;
}

#extra_book:hover {
  position: relative;
  top: 0;
  transition: top ease 10s;
  background-color: rgb(28, 239, 250);
  margin-top: 120px;
}

#tilted_book {
  background-color: rgb(165, 172, 32);
  width: 30px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: 101px;
  /* display: flex; */
  transform: rotate(-15deg);
  z-index: 1;
}

#tilted_book_top {
  background-color: rgba(255, 255, 255, 0.408);
  height: 15px;
  width: 30px;
  margin-top: 10px;
  display: block;
  position: fixed;
}

#tilted_book_bottom {
  background-color: rgba(255, 255, 255, 0.408);
  height: 10px;
  width: 30px;
  padding: 10px;
  display: block;
  position: fixed;
  margin-top: 140px;
}

#tilted_book:hover {
  position: relative;
  top: 0;
  transition: top ease 10s;
  background-color: rgb(28, 239, 250);
  margin-top: 130px;
}

#pot_top {
  width: 58px;
  height: 15px;
  background-color: #c05c40;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-left: -140px;
  z-index: 10;
}
#pot_bottom {
  width: 50px;
  height: 20px;
  position: fixed;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 50px solid #c05c40;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-left: -136px;
  margin-top: 15px;
}

#pot_top_shadow {
  width: 55px;
  height: 0px;
  position: fixed;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #9f4d36;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin-left: -138px;
  margin-top: 15px;
}

#shelf {
  background-color: rgb(187, 103, 55);
  width: 500px;
  height: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 60px;
  margin-left: -240px;
  /* display: flex;
  align-items: flex-end; */
}

#shelf_shadow {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 90px;
  margin-left: -210px;
  width: 450px;
  height: 5px;
  padding: 15px;
  z-index: -1;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6a3315),
    to(#ffc3aa)
  );
  background: -o-linear-gradient(top, #6a3315 0%, #ffc3aa 100%);
  background: linear-gradient(to bottom, #6a3315 0%, #ffc3aa 100%);
}

#shelf_bottom_left {
  background-color: #45220e;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 90px;
  margin-left: -225px;
  width: 18px;
  height: 35px;
  z-index: -1;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#6a3315), to(#ffc3aa));
  background: -o-linear-gradient(top, #6a3315 0%, #ffc3aa 100%);
  background: linear-gradient(to bottom, #6a3315 0%, #ffc3aa 100%); */
}

#shelf_bottom_right {
  background-color: #45220e;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 90px;
  margin-left: 225px;
  width: 18px;
  height: 35px;
  z-index: -1;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#6a3315), to(#ffc3aa));
  background: -o-linear-gradient(top, #6a3315 0%, #ffc3aa 100%);
  background: linear-gradient(to bottom, #6a3315 0%, #ffc3aa 100%); */
}

@keyframes flower {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px,
      #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px,
      #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px,
      #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

/* Styles for old versions of IE */
.flower {
  top: 50%;
  left: 50%;
  position: fixed;
  margin-left: -115px;
  margin-top: -40px;
  z-index: 10;
}

/* :not(:required) hides this rule from IE9 and below */
.flower:not(:required) {
  overflow: hidden;
  position: absolute;

  display: inline-block;
  width: 16px;
  height: 16px;
  background: #e96;
  border-radius: 100%;
  -moz-box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px,
    #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  -webkit-box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px,
    #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px,
    #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  -webkit-animation: flower 5s infinite ease-in-out;
  -khtml-animation: flower 5s infinite ease-in-out;
  -moz-animation: flower 5s infinite ease-in-out;
  -ms-animation: flower 5s infinite ease-in-out;
  -o-animation: flower 5s infinite ease-in-out;
  animation: flower 5s infinite ease-in-out;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#flower_stem {
  background-color: green;
  width: 8px;
  height: 40px;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-left: -113px;
  margin-top: -20px;
  z-index: -1;
}

/* where the form will be inside of */
#login_form {
  background-color: white;
  height: 100px;
  width: 100px;
  
}

#login_front_cover {
background-color: rgb(182, 16, 16);
height: 600px;
width: 500px;
top: 50%;
left: 50%;
border-radius: 2px 5px 5px 2px;
position: fixed;
box-shadow: 1px 1px 10px gray;
margin-left: -300px;
margin-top: -300px;
}


#login_back_cover {
  background-color: rgb(137, 45, 45);
  height: 600px;
  width: 400px;
  top: 50%;
  left: 50%;
  border-radius: 2px 5px 5px 2px;
  position: fixed;
  box-shadow: -88px 25px 10px  rgb(149, 101, 101);
  margin-left: -300px;
  margin-top: -325px;
  z-index: -1;
  transform: skewY(-4deg);
  }


    #login_bottom_spine {
      background-color: rgba(0, 0, 0);
      height: 600px;
      width: 38px;
      top: 50%;
      left: 50%;
      position: fixed;
      box-shadow: -40px 10px 40px  rgb(95, 63, 63);
      margin-left: -335px;
      margin-top: -310px;
      transform: skewY(-5deg);
      z-index: -1;
      border-radius: 10%;
      }


      #login_middle_spine {
        background-color: rgba(27, 65, 255);
        height: 600px;
        width: 20px;
        top: 50%;
        left: 50%;
        position: fixed;
        box-shadow: -40px 10px 40px  rgb(95, 63, 63);
        margin-left: -340px;
        margin-top: -300px;
        border-radius: 20%;
    
        }

        
      #login_top_spine {
        background-color: rgb(59, 216, 45);
        height: 600px;
        width: 20px;
        top: 50%;
        left: 50%;
        position: fixed;
        box-shadow: -40px 10px 40px  rgb(95, 63, 63);
        border-radius: 10%;
        margin-left: -320px;
        margin-top: -300px;
  
        }

      #login_page1 {
        background-color: white;
        height: 600px;
        width: 420px;
        top: 50%;
        left: 50%;
        border-radius: 2px 5px 5px 2px;
        position: fixed;
        margin-left: -300px;
        margin-top: -315px;
        transform: skewY(-4deg);
        z-index: -1;
        
      }

      #login_page2 {
        background-color: rgb(226, 226, 226);
        height: 600px;
        width: 450px;
        top: 50%;
        left: 50%;
        border-radius: 2px 5px 5px 2px;
        position: fixed;
        margin-left: -320px;
        margin-top: -315px;
        transform: skewY(-3deg);
        z-index: -1;
        
      }



     