@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
 }
body {
  margin: 0;
  padding: 0;
  --text_black: #303633;
  font-family: "Poppins", sans-serif;
} 

body.light {
  background-color: black;
}

/* Positioning the lightmode btn */
#light-mode {
  position: fixed;
  background: pink;
  border: none;
  padding: 0.5em;
  border-radius: 20%;
  margin: 2em;
  margin-left: 2em;
  font-size: 1.25rem;
  margin-left: 1em;
  color: purple;
}
